#Virtual Environment
\venv
.env


# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
logs/
*.log

# Cache and temp files
*.swp
*.swo
*.bak
*.tmp

helpfulCommands.txt

# Frontend files
node_modules/
dist/
.vite/
.vscode/

.DS_Store
